#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide {
  background: #1e242b !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > h4 {
  color: #fff !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.grid
  > div.four.wide.column
  > div
  > div
  > p
  > strong {
  color: #fff !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(1)
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(2)
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(3)
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(4)
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(5)
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(6)
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(7)
  > div {
  background: #0e1114 !important;
  border: none !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(1)
  > div
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(2)
  > div
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(3)
  > div
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(4)
  > div
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(5)
  > div
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(6)
  > div
  > div {
  color: #fff !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(1)
  > div
  > h2,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(4)
  > div
  > h2 {
  color: #fff !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(5)
  > div
  > div.ui.flex.justify-center
  > div
  > div,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div:nth-child(6)
  > div
  > div.ui.flex.justify-center
  > div
  > div {
  color: #fff !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div.ui.card.flex-grow
  > div.ui.flex.flex-column.justify-space-around.content
  > div.ui.flex.justify-space-around
  > div:nth-child(1)
  > h2,
#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex
  > div.ui.card.flex-grow
  > div.ui.flex.flex-column.justify-space-around.content
  > div.ui.flex.justify-space-around
  > div:nth-child(2)
  > h2 {
  color: #fff !important;
}

#top_affiliates_table
  > table
  > tbody
  > tr:nth-child(n + 0)
  > td.truncated
  > div
  > a {
  color: #1e2e3c !important;
}

#top_affiliates_table
  > table
  > tbody
  > tr:nth-child(n + 0)
  > td:nth-child(3)
  > a {
  color: #1e2e3c !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.grid
  > div.four.wide.column
  > div
  > i {
  color: #fff !important;
}

#top_affiliates_table 
  > div 
  > div:nth-child(1) 
  > span {
  color: #fff !important;
}

#top_affiliates_table 
  > div 
  > div:nth-child(1) 
  > div 
  > div.text {
  color: #fff !important;
}

#top_affiliates_table 
  > div 
  > div:nth-child(1) 
  > div {
  color: #fff !important;
}

#top_affiliates_table 
  > div 
  > div.three.wide.column.right.middle.aligned {
  color: #fff !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide {
  background: #161b20 !important;
}

body .layout-sidenav .ui.inverted.list {
  background: #0e1114 !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > h4 {
  color: #fff !important;
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > h4
  > i {
  display: none !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.grid
  > div.three.wide.column {
  padding-top: 0 !important;
  margin-top: -8px !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.cards.four.flex {
  margin-top: -20px !important;
}

body .layout-main-content .ui.card,
body .layout-main-content .ui.cards > .card {
  border: none !important;
  background: none !important;
  color: #fff !important;
}

body .layout-main-content .ui.card p,
body .layout-main-content .ui.cards > .card p {
  color: #fff !important;
}

#top_affiliates_table {
  padding: 15px !important;
  background: #fff !important;
  border-radius: 4px !important;
  color: #000 !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > div.ui.divider.relaxed {
  display: none !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.layout-grid.ui.grid.no-margin
  > div.layout-main-content.column.white.background.nine.wide
  > form {
  margin-top: 15px !important;
}

#lumen-two-body
  > div.ui.layout.container
  > div.ui.header.layout-topnav.top.attached.dark.blue.background.no-margin
  > div.extra.content.ui.spaced.right.middle.aligned {
  display: none !important;
}
